<h2><center>Y Combinator</center></h2>
<hr>
<center><p>NEWS NEWS AND MOREEEEE NEWS WHILE YOU RIDE YOUR BIKE</p></center>
<div id="wrapper">
  <div id="articles"></div>
  <div id="notes"></div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"> </script>

<script src="../assets/javascript/app.js"></script>
